* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    overflow: hidden;
}

#game_canvas {
    background: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid whitesmoke;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

#edit_canvas {
    background: rgb(0, 0, 0);
    position: absolute;
    top: 100px;
    left: 200px;
    border: 2px solid whitesmoke;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

#musicButton {
    position: absolute;
    width: 40px; 
    height: 40px; 
    font-size: 25px; 
    padding: 0px; 
    right: 20px;
    bottom: 100px;
}

.asset {
    display: none;
}

